---
openapi: 3.1.0
info:
  title: Recipe Wizard
  description: A grocery list aggregator to simplify shoppping for recipes.
  contact:
    name: Seth Norman
    email: snorman7384@gmail.com
  version: 0.1.0
servers:
  - url: https://recipe-wizard.snorm.dev/v1
    description: Production Server
paths:
  '/ping':
    get:
      tags:
        - 'Health'
      description: Check the server is responding to requests
      operationId: ping
      responses:
        '200':
          description: Success.
          content:
            text/plain:
              schema:
                type: string
        default:
          description: the server does not respond
  '/users':
    post:
      tags:
        - 'Users'
      summary: Create a new user.
      description: Create a new user with basic info.
      operationId: createUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: User created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUserResponse'
        default:
          description: There was an error creating the user resource
          $ref: '#/components/responses/GeneralError'
  '/login':
    post:
      tags:
        - 'Users'
      summary: Login to get token
      description: Submit login credentials to obtain an access token
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema: 
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200': 
          description: The user was successfully logged in
          content:
            application/json: 
              schema:
                $ref: '#/components/schemas/LoginResponse'
        default:
          description: There was an error logging in with the given credentials
          $ref: '#/components/responses/GeneralError'
  '/recipes':
    get:
      tags:
        - 'Recipes'
      summary: Get recipes for user
      description: Get all recipes for the logged in user
      operationId: getRecipesForUser
      parameters:
        - $ref: '#/components/parameters/ReturnIngredients'
      responses:
        '200':
          description: All recipes are returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Recipe'
        default:
          description: Unable to return all recipes
          $ref: '#/components/responses/GeneralError'
    post:
      tags:
        - 'Recipes'
      summary: Create a new recipe.
      description: Create a new recipe from a URL.
      operationId: createRecipe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRecipeRequest'
      responses:
        '201':
          description: The recipe was successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recipe'
        default:
          description: There was an error creating the recipe
          $ref: '#/components/responses/GeneralError'
  '/recipes/{recipe_id}':
    get:
      tags:
        - 'Recipes'
      summary: Get a recipe
      description: Get a single recipe by id
      operationId: getRecipe
      parameters:
        - $ref: '#/components/parameters/RecipeID'
        - $ref: '#/components/parameters/ReturnIngredients'
      responses:
        '200':
          description: Recipe with the given id is returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recipe'
        default:
          description: Unable to get recipe
          $ref: '#/components/responses/GeneralError'
  '/recipes/{recipe_id}/ingredients':
    get:
      tags:
        - 'Recipes'
        - 'Ingredients'
      description: Get all ingredients for a recipe
      operationId: getIngredientsForRecipe
      parameters:
        - $ref: '#/components/parameters/RecipeID'
      responses:
        '200':
          description: Ingredients for the given recipe are returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ingredient'
        default:
          description: Unable to get ingredients
          $ref: '#/components/responses/GeneralError'
  '/grocery-lists':
    get:
      tags:
        - 'Grocery Lists'
      summary: Get grocery lists.
      description: Get all grocery lists for a user.
      operationId: getGroceryListsForUser
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroceryList'
        default:
          description: Unable to return grocery lists
          $ref: '#/components/responses/GeneralError'
    post:
      tags:
        - 'Grocery Lists'
      description: Create a new grocery list
      operationId: createGroceryList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroceryListRequest'
      responses:
        '201':
          description: The grocery list was successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroceryList'
        default:
          description: There was an error creating the grocery list
          $ref: '#/components/responses/GeneralError'
  '/grocery-lists/{grocery_list_id}':
    get:
      tags:
        - 'Grocery Lists'
      description: Get a single grocery list
      operationId: getGroceryList
      parameters:
        - $ref: '#/components/parameters/GroceryListID'
      responses:
        '200':
          description: Grocery List with the given id is returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroceryList'
        default:
          description: Unable to get grocery list
          $ref: '#/components/responses/GeneralError'
  '/grocery-lists/{grocery_list_id}/meals':
    get:
      tags:
        - 'Grocery Lists'
        - 'Meals'
      summary: Get meals for list.
      description: Get all meals for a grocery list.
      operationId: getMealsForGroceryList
      parameters:
        - $ref: '#/components/parameters/GroceryListID'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Meal'
        default:
          description: Unable to return meals
          $ref: '#/components/responses/GeneralError'
    post:
      tags:
        - 'Grocery Lists'
        - 'Meals'
      description: Create a new meal in a grocery list
      operationId: createMealForGroceryList
      parameters:
        - $ref: '#/components/parameters/GroceryListID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMealRequest'
      responses:
        '201':
          description: The meal was successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meal'
        default:
          description: There was an error creating the meal
          $ref: '#/components/responses/GeneralError'
  '/grocery-lists/{grocery_list_id}/items':
    get:
      tags:
        - 'Grocery Lists'
        - 'Items'
      summary: Get items for list.
      description: Get all items for a grocery list.
      operationId: getItemsForGroceryList
      parameters:
        - $ref: '#/components/parameters/GroceryListID'
        - $ref: '#/components/parameters/GroupedItems'
        - $ref: '#/components/parameters/UngroupedItems'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Items'
        default:
          description: Unable to return items
          $ref: '#/components/responses/GeneralError'
    post:
      tags:
        - 'Grocery Lists'
        - 'Items'
      description: Create a new item in a grocery list
      operationId: createItemForGroceryList
      parameters:
        - $ref: '#/components/parameters/GroceryListID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateItemRequest'
      responses:
        '201':
          description: The item was successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
        default:
          description: There was an error creating the item
          $ref: '#/components/responses/GeneralError'
  '/grocery-lists/{grocery_list_id}/items/{item_name}':
    get:
      tags:
        - 'Grocery Lists'
        - 'Items'
      description: Get group of items with the given name.
      operationId: getItemGroupForGroceryListByName
      parameters:
        - $ref: '#/components/parameters/GroceryListID'
        - $ref: '#/components/parameters/ItemName'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemGroup'
        default:
          description: Error
          $ref: '#/components/responses/GeneralError'
  '/items/{item_id}':
    get:
      tags:
        - 'Items'
      description: Get item by id
      operationId: getItem
      parameters:
        - $ref: '#/components/parameters/ItemID'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
        default:
          description: Error
          $ref: '#/components/responses/GeneralError'
  '/items/{item_id}/status':
    put:
      tags:
        - 'Items'
      description: Set item status
      operationId: putItemStatus
      parameters:
        - $ref: '#/components/parameters/ItemID'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum:
                    - complete
                    - incomplete
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
        default:
          description: Error
          $ref: '#/components/responses/GeneralError'
components:
  schemas:
    CreateUserRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
        password:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        expires_in_seconds:
          type: integer
    CreateUserResponse:
      type: object
      required:
        - id
        - created_at
        - updated_at
        - username
        - first_name
        - last_name
        - token
      properties:
        id:
          type: integer
          format: int64
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        username:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        token:
          type: string
    LoginRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
        password:
          type: string
    LoginResponse:
      type: object
      required: 
        - token
      properties:
        token:
          type: string
    CreateRecipeRequest:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: uri
    Recipe:
      type: object
      required: [id, created_at, updated_at, name, owner_id]
      properties:
        id:
          type: integer
          format: int64
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        name:
          type: string
        description:
          type: string
        url:
          type: string
          format: uri
        prep_time:
          type: string
        cook_time:
          type: string
        total_time:
          type: string
        owner_id:
          type: integer
          format: int64
        ingredients:
          type: array
          items:
            $ref: '#/components/schemas/Ingredient'
    Ingredient:
      type: object
      required: [id, created_at, updated_at, name, measure, recipe_id]
      properties:
        id:
          type: integer
          format: int64
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        name:
          type: string
        description:
          type: string
        measure:
          $ref: '#/components/schemas/Measure'
        recipe_id:
          type: integer
          format: int64
    Measure:
      type: object
      required: [amount, units, standard_amount, standard_units]
      properties:
        amount:
          type: number
          format: double
        units:
          type: string
        standard_amount:
          type: number
          format: double
        standard_units:
          type: string
          enum:
            - fl. oz.
            - oz
            - whole
    CreateGroceryListRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
    GroceryList:
      type: object
      required: [id, created_at, updated_at, name, owner_id]
      properties:
        id:
          type: integer
          format: int64
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        name:
          type: string
        owner_id:
          type: integer
          format: int64
    CreateMealRequest:
      type: object
      required: [recipe_id]
      properties:
        recipe_id:
          type: integer
          format: int64
    Meal:
      type: object
      required: [id, created_at, updated_at, grocery_list_id, recipe_id]
      properties:
        id:
          type: integer
          format: int64
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        grocery_list_id:
          type: integer
          format: int64
        recipe_id:
          type: integer
          format: int64
        items:
          type: array
          items:
            $ref: '#/components/schemas/Item'
    Item:
      type: object
      required: [id, created_at, updated_at, name, measure, grocery_list_id, status]
      properties:
        id:
          type: integer
          format: int64
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        name:
          type: string
        description:
          type: string
        measure:
          $ref: '#/components/schemas/Measure'
        grocery_list:
          type: integer
          format: int64
        meal_id:
          type: integer
          format: int64
        ingredient_id:
          type: integer
          format: int64
        status:
          type: string
          enum:
            - complete
            - incomplete
    CreateItemRequest:
      type: object
      required: [name, amount, units]
      properties:
        name:
          type: string
        description:
          type: string
        amount:
          type: number
          format: double
        units:
          type: string
    ItemGroup:
      type: object
      required: [name]
      properties:
        name:
          type: string
        totals:
          type: object
          required: []
          additionalProperties:
            # this states that any property can exist, as long as it maps to a double
            type: number
            format: float64
        items:
          type: array
          items:
            $ref: '#/components/schemas/Item'
    Items:
      type: object
      oneOf:
        - required: [items]
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Item'
        - required: [item_groups]
          properties:
            item_groups:
              type: array
              items:
                $ref: '#/components/schemas/ItemGroup'
    GeneralError:
      type: object
      required:
        - error
      properties:
        error:
          type: string
  parameters:
    ReturnIngredients:
      name: return-ingredients
      in: query
      description: Whether to return ingredient data in the response
      allowEmptyValue: true
      schema:
        type: boolean
    RecipeID:
      name: recipe_id
      in: path
      description: The id of the recipe in interest
      required: true
      schema:
        type: integer
        format: int64
    GroceryListID:
      name: grocery_list_id
      in: path
      description: The id of the grocery list in interest
      required: true
      schema:
        type: integer
        format: int64
    GroupedItems:
      name: grouped
      in: query
      description: Whether to return item groups. Mutually exclusive with 'ungrouped' parameter
      allowEmptyValue: true
      schema: {}
    UngroupedItems:
      name: ungrouped
      in: query
      description: Whether to return ungrouped items. Mutually exclusive with 'grouped' parameter
      allowEmptyValue: true
      schema: {}
    ItemName:
      name: item_name
      in: path
      description: The name of the items to retrieve
      required: true
      schema:
        type: string
    ItemID:
      name: item_id
      in: path
      description: The id of the item in interest
      required: true
      schema:
        type: integer
        format: int64
  responses:
    GeneralError:
      description: An error has occurred
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GeneralError'
          examples:
            errNotFound:
              summary: The requested resource does not exist
              value:
                error: The requested resource does not exist
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT 
tags:
  - name: 'Health'
    description: Operations to check the health of the system
  - name: 'Users'
    description: Operations on users
  - name: 'Recipes'
    description: Operations on recipes
  - name: 'Ingredients'
    description: Operations on ingredients
  - name: 'Grocery Lists'
    description: Operations on grocery lists
  - name: 'Meals'
    description: Operations on meals
  - name: 'Items'
    description: Operations on items
security:
  - bearerAuth: []
