<!DOCTYPE html>
<html>

<head>
	<title>Recipe Wizard</title>
	<link href="/static/index.css" rel="stylesheet" type="text/css">
	<script src="/static/index.js" type="application/javascript" defer></script>
</head>

<body>
	<header>
		<h1>Recipe Wizard</h1>
		<nav class="navbar">
			<a class="navbar-item" href="/">Home</a>
			<a class="navbar-item" href="/recipes">Recipes</a>
			<a class="navbar-item" href="/grocery-lists">Grocery Lists</a>
		</nav>
	</header>
	<ul>
		{{range .}}
		<li class="recipe-card">
			<a href="/recipes/{{- .ID -}}" target="_self">
				<h3>{{ .Name }}</h3>
			</a>
			<p>
				{{ .Description }}
			</p>
		</li>
		{{else}}
		<p>No Recipes</p>
		{{end}}
	</ul>
	<h2>Add Recipe</h2>
	<form action="/recipes" method="POST">
		<label for="url">URL</label>
		<input id="url" name="url" type="text">
		<input type="submit">
	</form>
</body>


</html>
